@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-primary: #2563eb;
  --color-secondary: #475569;
  --color-surface: #ffffff;
  --color-background: #f8fafc;

  --shadow-soft: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
  --shadow-floating: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@layer base {
  body {
    @apply antialiased text-slate-800;
    background-color: var(--color-background);
    font-family: var(--font-sans);
  }
}